* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Dire Wolf", sans-serif;
  font-size: 22px;
}

body {
  background-color: rgb(22, 22, 22);
  color: white;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
body h1 {
  font-size: 40px;
}
body h2 {
  font-size: 28px;
}
body p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.menu {
  background: rgba(15, 15, 15, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  z-index: 1;
}
.menu img {
  height: 80px;
}

ul {
  display: flex;
  list-style: none;
  gap: 16px;
}
ul a {
  color: white;
  text-decoration: none;
}
ul a:hover {
  color: wheat;
}

.background {
  background: url("./imgs/background.jpg");
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px -75px 69px 7px rgba(0, 0, 0, 0.75) inset;
}

.background-history {
  background: url("./imgs/background-history.jpg");
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px -75px 69px 7px rgba(0, 0, 0, 0.75) inset;
}

.background-details {
  background: url("./imgs/background-details.jpg");
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px -75px 69px 7px rgba(0, 0, 0, 0.75) inset;
}

.img-slider {
  display: flex;
  margin: 0 auto 1rem auto;
  width: 50%;
}

@keyframes g-souffert {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
body {
  margin: 0;
}

div#slider {
  overflow: hidden;
}

div#slider figure img {
  width: 20%;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 16s g-souffert infinite;
}

.infos p {
  width: 50%;
  margin: 1rem auto 1rem auto;
  text-align: left;
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgb(8, 8, 8);
  justify-content: space-between;
  padding: 50px 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
footer img {
  height: 35px;
}

.grid-container {
  display: flex;
  position: relative;
  margin: 1rem auto 1rem auto;
  justify-content: center;
  gap: 20px;
  width: 50%;
}
.grid-container h1, .grid-container p {
  text-align: right;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 10px;
  align-items: center;
}
.grid img {
  object-fit: cover;
  width: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.grid img:hover {
  opacity: 0.5;
}
.grid h1 {
  text-align: center;
}

.grid-pages-infos {
  position: relative;
  margin: 1rem auto 1rem auto;
  justify-content: center;
  width: 50%;
  align-items: center;
}
.grid-pages-infos p {
  margin: 1rem auto 1rem auto;
  text-align: left;
}
.grid-pages-infos img {
  width: 100%;
}

.geo-details .geo-infos {
  background-color: rgb(65, 60, 60);
  padding: 15px;
  position: relative;
  margin: 1rem auto 1rem auto;
  justify-content: center;
  width: 50%;
  align-items: center;
  display: flex;
  width: 50%;
}
.geo-details img {
  width: 50%;
  margin-bottom: 1rem;
}

/*# sourceMappingURL=build.css.map */
