* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
  font-family: "Dire Wolf", sans-serif;
  font-size: 22px;
}

body {
  background-color: rgb(22, 22, 22);
  color: white;
  overflow-x: hidden;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
body h1 {
  font-size: 40px;
}
body h2 {
  font-size: 28px;
}
body p {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

.menu {
  background: rgba(15, 15, 15, 0.8);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 32px;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.3);
  position: fixed;
  width: 100%;
  z-index: 1;
}
.menu img {
  height: 80px;
}

ul {
  display: flex;
  list-style: none;
  gap: 16px;
}
ul a {
  color: white;
  text-decoration: none;
}
ul a:hover {
  color: wheat;
}

.background {
  background: url("../imgs/background.jpg");
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px -75px 69px 7px rgba(0, 0, 0, 0.75) inset;
}

.background-history {
  background: url("../imgs/background-history.jpg");
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px -75px 69px 7px rgba(0, 0, 0, 0.75) inset;
}

.background-details {
  background: url("../imgs/background-details.jpg");
  width: 100%;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 0px -75px 69px 7px rgba(0, 0, 0, 0.75) inset;
}

.img-slider {
  display: flex;
  margin: 0 auto 1rem auto;
  width: 800px;
}
@media screen and (max-width: 850px) and (max-aspect-ratio: 3/2) {
  .img-slider {
    width: 95%;
  }
}

@keyframes g-souffert {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
body {
  margin: 0;
}

div#slider {
  overflow: hidden;
}

div#slider figure img {
  width: 20%;
  float: left;
}

div#slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 16s g-souffert infinite;
}

.infos p {
  width: 800px;
  margin: 1rem auto 1rem auto;
  text-align: left;
}
@media screen and (max-width: 850px) and (max-aspect-ratio: 3/2) {
  .infos p {
    width: 95%;
  }
}

footer {
  display: flex;
  justify-content: center;
  background-color: rgb(8, 8, 8);
  justify-content: space-between;
  padding: 50px 40px;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}
footer img {
  height: 35px;
}
@media screen and (max-width: 850px) and (max-aspect-ratio: 3/2) {
  footer {
    justify-content: center;
  }
  footer h1 {
    display: none;
  }
}

.grid-container {
  display: flex;
  position: relative;
  margin: 1rem auto 1rem auto;
  justify-content: center;
  gap: 20px;
  width: 800px;
}
@media screen and (max-width: 850px) and (max-aspect-ratio: 3/2) {
  .grid-container {
    width: 95%;
  }
}
.grid-container h1, .grid-container p {
  text-align: right;
}
@media screen and (max-width: 850px) and (max-aspect-ratio: 3/2) {
  .grid-container {
    display: block;
  }
  .grid-container h1, .grid-container p {
    text-align: center;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 300px);
  gap: 10px;
  align-items: center;
}
.grid img {
  object-fit: cover;
  width: 100%;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}
.grid img:hover {
  opacity: 0.5;
}
.grid h1 {
  text-align: center;
}
@media screen and (max-width: 850px) and (max-aspect-ratio: 3/2) {
  .grid {
    display: block;
  }
}

.grid-pages-infos {
  position: relative;
  margin: 1rem auto 1rem auto;
  justify-content: center;
  width: 800px;
  align-items: center;
}
@media screen and (max-width: 850px) and (max-aspect-ratio: 3/2) {
  .grid-pages-infos {
    width: 95%;
  }
}
.grid-pages-infos p {
  margin: 1rem auto 1rem auto;
  text-align: left;
}
.grid-pages-infos img {
  width: 100%;
}

.geo-details .geo-infos {
  background-color: rgb(65, 60, 60);
  padding: 5px;
  position: relative;
  margin: 1rem auto 1rem auto;
  justify-content: center;
  width: 800px;
  align-items: center;
  display: flex;
}
@media screen and (max-width: 850px) and (max-aspect-ratio: 3/2) {
  .geo-details .geo-infos {
    width: 95%;
  }
}
.geo-details .geo-infos div {
  padding: 10px;
}
.geo-details img {
  width: 800px;
  margin-bottom: 1rem;
}
@media screen and (max-width: 850px) and (max-aspect-ratio: 3/2) {
  .geo-details img {
    width: 95%;
  }
}

#burger-menu {
  display: none;
  cursor: pointer;
  height: 27px;
  width: 27px;
  margin: 50px;
  overflow: visible;
  position: relative;
  z-index: 2;
}
#burger-menu span,
#burger-menu span:before,
#burger-menu span:after {
  background: #fff;
  display: block;
  height: 2px;
  opacity: 1;
  position: absolute;
  transition: 0.3s ease-in-out;
}
#burger-menu span:before,
#burger-menu span:after {
  content: "";
}
#burger-menu span:before {
  left: 0px;
  top: -10px;
  width: 27px;
}
#burger-menu span {
  right: 0px;
  top: 13px;
  width: 27px;
}
#burger-menu span:after {
  left: 0px;
  top: 10px;
  width: 27px;
}
#burger-menu.close span:before {
  top: 0px;
  transform: rotate(90deg);
  width: 27px;
}
#burger-menu.close span {
  transform: rotate(-45deg);
  top: 13px;
  width: 27px;
}
#burger-menu.close span:after {
  top: 0px;
  left: 0;
  transform: rotate(90deg);
  opacity: 0;
  width: 0;
}

#menu {
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  position: fixed;
  top: 0;
  height: 0;
  visibility: hidden;
  opacity: 0;
  text-align: center;
  padding-top: 20px;
  transition: all 0.3s ease-in-out;
}
#menu.overlay {
  visibility: visible;
  opacity: 1;
  padding-top: 150px;
  background: rgba(0, 0, 0, 0.9);
}
#menu ul {
  padding: 0;
  display: block;
}
#menu a {
  color: #fff;
  display: block;
  font-size: 32px;
  margin-bottom: 30px;
  text-decoration: none;
}

@media screen and (max-width: 850px) and (max-aspect-ratio: 3/2) {
  #burger-menu {
    display: unset;
  }
  .menu {
    padding: 0;
  }
  .menu ul {
    display: none;
  }
}

/*# sourceMappingURL=build.css.map */
