@use 'mixins';

$cyan-color: #23f0ff;
$dark-color: #2a3255;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Dire Wolf', sans-serif;
    font-size: 22px;
}

body{
    background-color: rgb(22, 22, 22);
    color: white;
    overflow-x: hidden;
    h1{
        font-size: 40px;
    }
    h2{
        font-size: 28px;
    }
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
    }
}

.menu{
    background: rgba(15, 15, 15,0.8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 32px;
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.3);
    position:fixed;
    width:100%;
    z-index: 1;
    img{
        height: 80px;
    }
}

ul{
    display: flex;
    list-style: none;
    gap: 16px;
    a{
        color:white;
        text-decoration: none;

        &:hover{
            color:wheat;
        }
    }
}

.background{
    background: url("../imgs/background.jpg");
    @include mixins.bgall;
}

.background-history{
    background: url("../imgs/background-history.jpg");
    @include mixins.bgall;
}

.background-details{
    background: url("../imgs/background-details.jpg");
    @include mixins.bgall;
}

.img-slider{
    display: flex;
    margin: 0 auto 1rem auto;
    @include mixins.responsive();
}

@keyframes g-souffert {
    0% { left: 0%; }
    20% { left: 0%; }
    25% { left: -100%; }
    45% { left: -100%; }
    50% { left: -200%; }
    70% { left: -200%; }
    75% { left: -300%; }
    95% { left: -300%; }
    100% { left: -400%; }
    }
    
    body { margin: 0; } 
    div#slider { overflow: hidden; }
    div#slider figure img { width: 20%; float: left; }
    div#slider figure { 
      position: relative;
      width: 500%;
      margin: 0;
      left: 0;
      text-align: left;
      font-size: 0;
      animation: 16s g-souffert infinite;
}

.infos{
    p{
        @include mixins.responsive();
        margin: 1rem auto 1rem auto;
        text-align: left;
    }
}

footer {
    display: flex;
    justify-content: center;
    background-color: rgb(8, 8, 8);
    justify-content:space-between;
    padding: 50px 40px;
    position:absolute;
    bottom: 0;
    right: 0;
    left: 0;
    img{
        height: 35px;
    }
    @media screen and (max-width : 850px) and (max-aspect-ratio: 3/2){
        justify-content:center;
        h1{
            display: none;
        }
    }

}

.grid-container{
    display: flex;
    position: relative;
    margin: 1rem auto 1rem auto;
    justify-content: center;
    gap: 20px;
    @include mixins.responsive();
    h1, p{
        text-align: right;
    }
    @media screen and (max-width : 850px) and (max-aspect-ratio: 3/2){
        display: block;
        h1, p{
            text-align: center;
        }
    }
}

.grid{
    display: grid;
    grid-template-columns: repeat(2, 300px);
    gap: 10px;
    align-items: center;
    img{
        object-fit: cover;
        width: 100%;
        -webkit-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        &:hover{
            opacity: .5;
        }
    }
    h1{
        text-align: center;
    }
    @media screen and (max-width : 850px) and (max-aspect-ratio: 3/2){
        display: block;
    }
}

.grid-pages-infos{
    position: relative;
    margin: 1rem auto 1rem auto;
    justify-content: center;
    @include mixins.responsive();
    align-items: center;
    p{
        margin: 1rem auto 1rem auto;
        text-align: left;
    }
    img{
        width: 100%;
    }

}

.geo-details{
    .geo-infos{
        background-color: rgb(65, 60, 60);
        padding: 5px;
        position: relative;
        margin: 1rem auto 1rem auto;
        justify-content: center;
        @include mixins.responsive();
        align-items: center;
        display: flex;
        @media screen and (max-width : 850px) and (max-aspect-ratio: 3/2){
            display: block;
        }
        div{
            padding: 10px;
            
        }
    }
    img{
        @include mixins.responsive();
        margin-bottom: 1rem;
    }
}



#burger-menu {
    display: none;
	cursor: pointer;
	height: 27px;
	width: 27px;
	margin: 50px;
	overflow: visible;
	position: relative;
	z-index: 2;

	// THE LINES
	span,
	span:before,
	span:after {
		background: #fff;
		display: block;
		height: 2px;
		opacity: 1;
		position: absolute;
		transition: 0.3s ease-in-out;
	}

	span:before,
	span:after {
		content: '';
	}

	// TOP
	span:before {
		left: 0px;
		top: -10px;
		width: 27px;
	}

	// MIDDLE
	span {
		right: 0px;
		top: 13px;
		width: 27px;
	}

	// BOTTOM
	span:after {
		left: 0px;
		top: 10px;
		width: 27px;
	}

	// ROTATION ON CLICK
	&.close {
		// TOP
		span:before {
			top: 0px;
			transform: rotate(90deg);
			width: 27px;
		}

		// MIDDLE
		span {
			transform: rotate(-45deg);
			top: 13px;
			width: 27px;
		}

		// BOTTOM
		span:after {
			top: 0px;
			left: 0;
			transform: rotate(90deg);
			opacity: 0;
			width: 0;
		}
	}
}

#menu {
	z-index: 1;
	min-width: 100%;
	min-height: 100%;
	position: fixed;
	top: 0;
	height: 0;
	visibility: hidden;
	opacity: 0;
	text-align: center;
	padding-top: 20px;
	transition: all 0.3s ease-in-out;

	&.overlay {
		visibility: visible;
		opacity: 1;
		padding-top: 150px;
		background: rgba(0, 0, 0, 0.9);
	}

	ul {
		padding: 0;
        display: block;
	}

	a {
		color: #fff;
		display: block;
		font-size: 32px;
		margin-bottom: 30px;
		text-decoration: none;
	}
}

@media screen and (max-width : 850px) and (max-aspect-ratio: 3/2){
    #burger-menu{
        display: unset;
    }
    .menu{
        padding: 0;
        ul{
            display: none;
        }
    }
}